name: Deploy berputar.opendesa.id
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */6 * * *'  # Jadwalkan setiap 6 jam

jobs:
  build:
    name: Penyimpanan Situs Web berputar.opendesa.id
    runs-on: ubuntu-latest
    steps:
      - name: Periksa Kode
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: SSH Remote
        uses: fifsky/ssh-action@master
        with:
          host: berputar.opendesa.id
          user: ${{ secrets.SSH_USER_BERPUTAR }}
          pass: ${{ secrets.SSH_PASS_BERPUTAR }}
          port: ${{ secrets.SSH_PORT }}
          command: |
            cd /home/berputar.opendesa.id/public_html

            # Kembalikan ke commit terbaru
            git reset --hard HEAD

            # Tarik perubahan terbaru dari repositori
            git pull

            # Ambil tag terbaru dari repositori jarak jauh
            git fetch --tags

            # Dapatkan tag terbaru
            latest_tag=$(git describe --tags --abbrev=0)

            # Periksa apakah tag ditemukan
            if [ -n "$latest_tag" ]; then
              # Checkout ke tag terbaru
              git checkout "$latest_tag"
            else
              echo "Tidak ada tag terbaru ditemukan, lewati proses deployment."
            fi

            # Run PHP script to restore database
            php index.php job restore 2402
