name: Deploy beta.opendesa.id
on:
  push:
    branches:
      - akas

jobs:
  build:
    name: Deployment Website beta.opendesa.id
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: SSH Remote
        uses: fifsky/ssh-action@master
        with:
          host: beta.opendesa.id
          user: ${{ secrets.SSH_USER_BETA }}
          pass: ${{ secrets.SSH_PASS_BETA }}
          port: 2244
          script: |
            cd /home/beta.opendesa.id/public_html

            # Restore to the state of the remote branch
            git fetch origin bug-fix
            git reset --hard origin/bug-fix
